/*Externall pratice css items -- Foundations 01 */

div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}





/*End externall pratice css items -- Foundations 01 */