/*Add border to every element */
/* * {
    border: 2px solid red;
} */

/*Externall pratice css items -- Foundations 01 */

/* div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
} */


/*Externall pratice css items -- Foundations 02 */
.odd {
    background-color: #dc6b6b;
    font-family: verdana, sans-serif, DejaVu Sans;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}

/*Externall pratice css items -- Foundations 03 */

.rectangle-1 {
    background-color: black;
    color: white;
}

.rectangle-2 {
    background-color: yellow;
}

.rectangle-1,
.rectangle-2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/*Externall pratice css items -- Foundations 04 */

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/*Externall pratice css items -- Foundations 05 */
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*Externall pratice css items -- Foundations 06 */
.para {
    font-size: 22px;
}

.small-para {
    font-size: 14px;
}

.para,
.small-para {
    color: hsl(0, 100%, 50%);
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#confirm-button {
    background: green;
    color: white;
    font-weight: bold;
}

.text {
    color: green;
    font-size: 22px;
}

.text .child {
    color: red;
    font-size: 14px;
}

/*Padding practice 1 */
body {
    max-width: 600px;
    margin: 0 auto;
}

.one {
    background: pink;
    border: 3px solid blue;
    /* CHANGE ME */
    padding: 32px;
    margin: 12px;
}

.two {
    background: lightblue;
    border: 3px solid purple;
    /* CHANGE ME */
    margin-bottom: 24px;
}

.three {
    background: peachpuff;
    border: 3px solid brown;
    width: 200px;
    /* CHANGE ME */
    padding: 0px;
    margin-left: auto;
}

/*Padding practice 2 */
p {
    display: block;
    background-color: rgba(84, 174, 255, 0.4);
}

h1 {
    font-size: 48px;
    background-color: rgba(84, 174, 255, 0.4);
}

button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
}

.wrapper {
    width: 100%;
    background-color: green;
    padding: 8px;
}

.content {
    margin: inherit;
    padding: 16px 8px 16px 8px;
    background-color: rgba(84, 174, 255, 0.4);
}

.child {
    background-color: rgba(84, 174, 255, 0.4);
    padding: 8px;
    margin: 10px;
}

.center {
    text-align: center;
    background-color: rgba(84, 174, 255, 0.4);
}