/*Externall pratice css items -- Foundations 01 */

/* div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
} */


/*Externall pratice css items -- Foundations 02 */
.odd {
    background-color: #dc6b6b;
    font-family: verdana, sans-serif, DejaVu Sans;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}

/*Externall pratice css items -- Foundations 03 */

.rectangle-1 {
    background-color: black;
    color: white;
}

.rectangle-2 {
    background-color: yellow;
}

.rectangle-1,
.rectangle-2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/*Externall pratice css items -- Foundations 04 */

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/*Externall pratice css items -- Foundations 05 */
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*Externall pratice css items -- Foundations 06 */
.para {
    font-size: 22px;
}

.small-para {
    font-size: 14px;
}

.para,
.small-para {
    color: hsl(0, 100%, 50%);
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#confirm-button {
    background: green;
    color: white;
    font-weight: bold;
}

.text {
    color: green;
    font-size: 22px;
}

.child {
    color: red;
    font-size: 14px;
}